* {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

.main {
  margin-left: 20%;
}

.nav-menu {
  background-color: #db7b3bc6;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.nav-text {
  color: #ffffff;
  font-size: 150%;
  height: 10%;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}
#modal-container:empty {
  display: none;
}

#modal {
  padding: 30px;
  padding-bottom: 35px;
  margin: 48px 0 78px 50%;
  transform: translateX(-50%);
  width: 60%;
  box-sizing: border-box;
  background-color: #edeff0;
  border-radius: 3px;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  z-index: 3;
}
#modal:after {
  content: "";
  clear: both;
  display: block;
}

.modalImageContainer {
  width: 50%;
}

.modalImageContainer img {
  width: 100%;
}

.modalInformationContainer {
  position: relative;
  width: 50%;
  padding-left: 20px;
}

.modalInformationContainer .favoriteButton {
  position: absolute;
  display: block;
  top: 1%;
  right: 1px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.modalInformationContainer .favoriteButton:hover {
  background-color: red;
}