@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: '#331E14'
}

koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.main {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 240px;
}

/* #homePageTitle {
  margin: 20px;
} */

h1 {
  margin: 30px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
  color: '#331E14'
}

h2 {
  margin-bottom: 10px;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
  color: '#331E14'
}

h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Koulen", sans-serif;
  letter-spacing: .1em;
  color: '#331E14'
}

td {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

td #topic-fieldset,
.topic-label {
  padding: 10px;
}

.topic-input {
  background-color: black;
}

/* .topic-label {
  padding: 10px
} */

.connectionlist {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 20px;
}

/* .link {
  padding-left: 5px;
  padding-right: 5px;
} */

.link:hover {
  /* background-color: #F58B33;
  padding: 5px 5px; */
  font-weight: 700;
  color: #F58B33;
  /* border-radius: 5px; */
}

.connectionButton {
  border: 1px solid #331E14;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  /* margin-top: 15px; */
  margin-left: 95px;
}

.connectionButton:hover {
  background-color: #db7b3bc6;
}

/* .connectiondetails,
.connection-ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
} */

.topic-ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.list {
  margin-bottom: 10px;
}

/* .nav-menu {
  background-color: #db7b3bc6;
  width: 20%;
  height: 100%;
}


.App {
  display: flex;
  justify-content: left;
  height: auto;
  /* margin-left: 10px; */
/* } */

.nav-text {
  color: #ffffff;
  font-size: 150%;
  height: 10%;
  display: flex;
  align-items: center;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
}

a {
  text-decoration: none;
  color: inherit;
}

/* input {
  display: block;
} */

/* #sourceform {
  padding: 20px;
  display: block;
  justify-content: center;
} */

#sourcelist, #consumerlist {
  margin-right: 100px;
}

#topic-fieldset {
  padding: 10px; /* Adds padding inside the fieldset for overall spacing */
  border-radius: 10px;
  border: 1px solid #70AF85;
  font-size: 14px;
}

#topic-fieldset legend {
  padding: 0 10px; /* Adjusts padding within the legend itself */
  font-size: 1.2em; /* Optional: Increase font size for visibility */
}

.topic-label input[type="checkbox"] {
  accent-color: #70AF85; /* Set the accent color for supported browsers */
  margin-right: 5px; /* Adds spacing between the checkbox and label */
}

.topic-label input[type="checkbox"]:checked {
  background-color: #70AF85; /* Custom color when checked */
  border-color: #70AF85;
}
