@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.main {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 240px;
}

/* #homePageTitle {
  margin: 20px;
} */

h1 {
  margin: 30px;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1pt;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 95px;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1pt;
}

td {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

td #topic-fieldset,
.topic-label {
  padding: 10px;
}

.topic-input {
  background-color: black;
}

/* .topic-label {
  padding: 10px
} */

.connectionlist {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 20px;
}

/* .link {
  padding-left: 5px;
  padding-right: 5px;
} */

.link:hover {
  background-color: #db7b3bc6;
  color: black;
  border: 1px solid #db7b3bc6;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.connectionButton {
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  /* margin-top: 15px; */
  margin-left: 95px;
}

.connectionButton:hover {
  background-color: #db7b3bc6;
}

.connectiondetails,
.connection-ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.topic-ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.list {
  margin-bottom: 10px;
}

/* .nav-menu {
  background-color: #db7b3bc6;
  width: 20%;
  height: 100%;
}


.App {
  display: flex;
  justify-content: left;
  height: auto;
  /* margin-left: 10px; */
/* } */

.nav-text {
  color: #ffffff;
  font-size: 150%;
  height: 10%;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* input {
  display: block;
} */

/* #sourceform {
  padding: 20px;
  display: block;
  justify-content: center;
} */